/*********************************
* Partie Keyframe
**********************************/

.from-to {
    width: 400px;
    height: 100px;
    margin: auto;
    background: steelblue;

    animation-name: from-to;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes from-to {
    from {background: steelblue}
    to {background: maroon}
}

.zero-cent {
    width: 400px;
    height: 100px;
    margin: auto;
    background: steelblue;

    animation-name: zero-cent;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes zero-cent {
    0% {background: steelblue}
    100% {background: maroon}
}

.zero-50-100 {
    width: 400px;
    height: 100px;
    margin: auto;
    background: steelblue;

    animation-name: zero-50-100;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes zero-50-100 {
    0% {background: steelblue}
    50% {background: maroon}
    100% {background: steelblue}
}

.more {
    width: 400px;
    height: 100px;
    margin: auto;
    background: steelblue;

    animation-name: more;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes more {
    0% {background: steelblue}
    25% {background: greenyellow}
    50% {background: maroon}
    75% {background: orangered}
    100% {background: steelblue}
}

.modifs {
    width: 400px;
    height: 100px;
    margin: auto;
    background: steelblue;

    animation-name: modifs;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes modifs {
    0% {
        background: steelblue;
        width: 400px;
    }
    25% {
        background: greenyellow;
        width: 450px;
    }
    50% {
        background: maroon;
        width: 550px;
    }
    75% {
        background: orangered;
        width: 700px;
    }
    100% {
        background: steelblue;
        width: 400px;
    }
}

/*********************************
* Partie Delay
**********************************/

.not-delayed {
    width: 400px;
    height: 100px;
    margin: auto;
    background: steelblue;
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    font-size: 420%;
}

.not-delayed:hover {
    animation-name: not-delayed;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes not-delayed {
    from {background: steelblue}
    to {background: maroon}
}

.delayed {
    width: 400px;
    height: 100px;
    margin: auto;
    background: steelblue;
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    font-size: 420%;
}

.delayed:hover {
    animation-name: delayed;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    animation-delay: 1s;
}

@keyframes delayed {
    from {background: steelblue}
    to {background: maroon}
}
